# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
data/processed/

#Qdrant
qdrant_storage/
data/
*.png
*.pdf
*.jpg
*.jpeg
